body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    width: 75%;
    margin: auto;
  }
  
  h1, h2 {
    font-family: 'Cinzel', serif;
    margin: .25rem;
  }

  h1{
    font-size: 2.5rem;
  }

  h2 {
    color: rgb(5, 92, 92);
    font-size: 2rem;
    margin-top: .5em;
    border-bottom: black solid;
  }
  
  header,
  main,
  footer {
    margin: 1rem auto;
    padding: .5rem;
  }

  main {
    background-color: lightcyan;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  header,
  footer {
    background-color: darkcyan;
    color: #fff;
    text-align: center;
  }
  
  footer {
    text-align: center;
    margin-top: 0;
  }

  header {
    margin-bottom: 0;
  }
  
  
  footer a {
    color: #fff;
  }
  
  img {
    width: 100%;
    border-radius: 50%;
  }
  
  .rightalign {
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px #777;
    margin-bottom: 5px;
  }
  
  li{
    font-size: 1.4rem;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  a{
    color: darkcyan;
  }