@media (min-width: 32.5em){
    .rightalign {
        float: right;
        margin-right: 1.5em;
        margin-left: 1em;
    }

    body {
        width: 50%;
    }

    h1{
        font-size: 3.5rem;
      }

    h2{
        font-size: 2rem;
    }
}