body{
    font-family: Arial;
}

header{
    background-color: darkcyan;
    display: flex;
    text-align: center;
    justify-content: center;
}

header h1{
    font-family: 'Cinzel';
    font-size: 1.5em;
    color: antiquewhite;
    margin-bottom: 0px;
}

header p{
    font-size: 1em;
    margin-top: 0px;
    color: black;
}

#logo{
    width: 100px;
    margin-right: 2%;
}

nav{
    background-color: rgba(117, 202, 195, 0.911);
}

.navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
    text-decoration: none;
    color: black;
}

.navigation a:hover{
    background-color: rgb(14, 155, 155);
    color: antiquewhite;
}

.active{
    background-color: rgb(14, 155, 155);
    color: antiquewhite;
}

.responsive li {
	display: block;
}

main{
    width: 90%;
    margin: 0 auto;
}

.darkcyan {
    background-color: darkcyan;
}

#head-title{
    background-color: darkcyan;
    color: antiquewhite;
}

.lightcyan{
    background-color: rgba(117, 202, 195, 0.911);
}

#nav-sel-bkgrd{
    background-color: rgb(14, 155, 155);
}

#nav-sel-title{
    background-color: rgb(14, 155, 155);
    color: antiquewhite;
}

#accent2-title{
    background-color: rgba(117, 202, 195, 0.911);
    color: rgb(6, 66, 66);
}

@media only screen and (min-width: 37.5em) {

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
    }

    header h1{
        font-size: 2em;
    }

    header p{
        font-size: 1.5em;
    }

    #logo{
        width: 100px;
        margin-right: 5%;
    }

    #header-text{
        align-content: center;
    }

    main{
        width: 82%;
    }

}

@media only screen and (min-width: 60em){

    #logo{
        width: 200px;
        margin-right: 7%;
    }

    header h1{
        font-size: 3em;
    }

    header p{
        font-size: 1.75em;
    }

    main{
        width: 800px;
    }

}