body {
    font-family: 'Montserrat';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#weather-alert {
    background-color: #FEFAE0;
    color: #606C38;
    text-align: center;
    padding: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-weight: bolder;
}

#weather-alert h3, p {
    margin: 0;
}

#weather-alert a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
}

header {
    background-color: #606C38;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 0;
    padding: 0px 10px 0px 10px;
    font-family: 'Ubuntu';
    position: relative;
}

#title-logo {
    margin: auto;
    display: flex;
    font-size: 0.8em;
    color: #DDA15E;
}

#logo  {
    float: left;
    margin: auto;
    margin-left: 10px;
    max-width: 100px;
}

#logo img {
    width: 100%;
}

#menuBtn {
    margin: auto 15px auto 0px;
    text-align: right;
    text-decoration: none;
    color: #DDA15E;
}

.navigation {
    display: none;
}

.navigation ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

#closeBtn {
    text-align: left;
    font-size: 2em;
    padding-left: 10px;
}

.navigation a {
    display: block;
    text-align: center;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #283618;
    font-weight: bold;
    font-size: 1.1em;
}

.navigation a:not(:first-of-type):hover {
    background-color: #283618;
    color: #FEFAE0;
}

.active {
    text-decoration: underline #283618;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    background-color: #283618;
    color: #DDA15E;
}

#footer-logoTitle h4 {
    text-align: left;
}

#footer-logoTitle {
    display: flex;
    margin: auto;
    color: #FEFAE0;
}

#fLogo {
    float: left;
    margin: auto;
    max-width: 50px;
}

#fLogo img {
    width: 100%;
}

#fInfo {
    text-align: center;
}

#contact {
    display: block;
    padding-right: 5px;
}

#socialMedia {
    display: flex;
}

main {
    background-color: #FEFAE0;
    padding: 5px;
    flex-grow: 1;
}

main h2, h3, h4 {
    text-align: center;
    font-family: 'Ubuntu';
}

main h2 {
    color: #BC6C25;
}

#directors {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}

.board-members img {
    display: block;
    margin: auto;
}

p {
    font-weight: bolder;
}

form {
    margin-top: 10px;
    background-color: #283618;
    padding: 10px;
    border-radius: 5px;
}

legend {
    padding: 0 10px 0 10px;
    font-family: 'Ubuntu';
    color: #BC6C25;
}

fieldset {
    margin: 10px 0 10px 0;
    border-color: #BC6C25;
    border-width: medium;
    background-color: #283618;
    color: #FEFAE0;
}

fieldset label {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 5px 0 5px 0;
}

#wWrap {
    word-break: break-word;
}

#submitBtn {
    font-family: 'Ubuntu';
    font-size: 1em;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #BC6C25;
    color: #FEFAE0;
    border: none;
    padding: 10px;
}

#submitBtn:hover {
    cursor: pointer;
}

#submit {
    text-align: center;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

#contact-data {
    text-align: center;
    margin-bottom: 10px;
}

#contact-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
}

iframe {
    margin: auto;
}

#contact-data h4, p {
    margin: 5px 0 5px 0;
}

#confirmation {
    width: 90%;
    margin: auto;
    text-align: center;
}

#confirmation h3 {
    color: #283618;
    margin-top: 0;
}

#socialMedia img {
    width: 36.5px;
}

#socialMedia div {
    margin: auto;
}

#fInfo a{
    color: #FEFAE0;
}

#fInfo {
    position: relative;
}

#fInfo p{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

.img-container {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.img-container img {
    width: 100%;
}

@media only screen and (max-width: 40em) {

    .navigation-small {
        height: 250px;
        width: 240px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        background-color: #BC6C25;
        transition: 0.6s;
        display: block;
        overflow: hidden;
    }

}

@media only screen and (min-width: 40em) {

    #menuBtn {
        display: none;
    }

    .navigation a:first-child {
        display: none;
    }

    .navigation {
        display: inline;
        margin: auto;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        margin: auto;
    }

    .navigation a {
        margin: auto;
        color: #DDA15E;
        padding: 10px;
    }

    .active {
        text-decoration: underline #DDA15E;
    }

    header {
        grid-template-columns: 1fr 1fr;
    }

    #contact {
        display: flex;
        margin-left: auto;
        margin-right: 10px;
        padding-bottom: 10px;
    }

    #socialMedia {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 15px;
    }

    #directors {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }

    #contact-container {
        grid-template-columns: auto 1fr;
        grid-column-gap: 10px;
        margin-top: 20px;
        padding-left: 20px;
    }

    iframe {
        margin-left: 0;
    }

}

@media only screen and (min-width: 64em) {

    #directors {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    form {
        width: 80%;
        margin: auto;
    }

    fieldset label {
        grid-template-columns: 1fr;
    }

    main p {
        text-align: center;
        margin-bottom: 10px;
    }

    #fSeparate {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
    }

}