body {
    font-family: 'Montserrat';
}

#weather-alert {
    background-color: #FEFAE0;
    color: #606C38;
    text-align: center;
    padding: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-weight: bolder;
}

#weather-alert h3, p {
    margin: 0;
}

#weather-alert a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
}

header {
    background-color: #606C38;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    padding: 0px 10px 0px 10px;
    font-family: 'Ubuntu';
    position: relative;
}

#title-logo {
    margin: auto;
    display: flex;
    font-size: 0.8em;
    color: #DDA15E;
}

#logo  {
    float: left;
    margin: auto;
    margin-left: 10px;
    max-width: 100px;
}

#logo img {
    width: 100%;
}

#menuBtn {
    margin: auto 15px auto 0px;
    text-align: right;
    text-decoration: none;
    color: #DDA15E;
}

.navigation {
    display: none;
}

.navigation ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

#closeBtn {
    text-align: left;
    font-size: 2em;
    padding-left: 10px;
}

.navigation a {
    display: block;
    text-align: center;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #283618;
    font-weight: bold;
    font-size: 1.1em;
}

.navigation a:not(:first-of-type):hover {
    background-color: #283618;
    color: #FEFAE0;
}

.active {
    text-decoration: underline #283618;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    background-color: #283618;
    color: #DDA15E;
    margin: auto;
}

#footer-logoTitle h4 {
    text-align: left;
}

#footer-logoTitle {
    display: flex;
    margin: auto;
    color: #FEFAE0;
}

#fLogo {
    float: left;
    margin: auto;
    max-width: 50px;
}

#fLogo img {
    width: 100%;
}

#fInfo {
    text-align: center;
}

#contact {
    display: block;
    padding-right: 5px;
}

#socialMedia {
    display: flex;
}

main {
    background-color: #FEFAE0;
}

.event-container {
    width: 90%;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    background-color: #283618;
    padding: 20px;
    color: #DDA15E;
    font-weight: bolder;
    font-size: 1.1em;
}

.events {
    width: 80%;
    margin: auto;
}

.img-container {
    width: 100%;
}

.img-provo {
    width: 100%;
}

sup {
    font-size: .5em;
}

h2, h4 {
    font-family: 'Ubuntu';
}

h2 {
    margin-top: 0;
    color: #BC6C25;
    text-align: center;
}

.demographic {
    background-color: #283618;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dem-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    padding: 10px;
}

.year {
    text-align: center;
    background-color: #DDA15E;
    color: #283618;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
}

.year h2 {
    color: #FEFAE0;
}

.year h4 {
    margin-top: 0;
    text-align: left;
}

.year-data {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
    margin: auto;
}

section {
    margin-top: 15px;
    padding-bottom: 20px;
}

.visit-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}

.visit h4 {
    margin-bottom: 10px;
}

.visit {
    font-weight: bold;
}

h5 a {
    color: #BC6C25;
}

h5 {
    margin: 0;
}

.dem-disclaimer {
    padding: 10px;
}

#socialMedia img {
    width: 36.5px;
}

#socialMedia div {
    margin: auto;
}

#fInfo a{
    color: #FEFAE0;
}

#fInfo {
    position: relative;
}

#fInfo p{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.img-container {
    width: 100%;
}

.img-container img {
    width: 100%;
}

@media only screen and (max-width: 40em) {

    .navigation-small {
        height: 250px;
        width: 240px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        background-color: #BC6C25;
        transition: 0.6s;
        display: block;
        overflow: hidden;
    }

}

@media only screen and (min-width: 40em) {

    #menuBtn {
        display: none;
    }

    .navigation a:first-child {
        display: none;
    }

    .navigation {
        display: inline;
        margin: auto;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        margin: auto;
    }

    .navigation a {
        margin: auto;
        color: #DDA15E;
        padding: 10px;
    }

    .active {
        text-decoration: underline #DDA15E;
    }

    header {
        grid-template-columns: 1fr 1fr;
    }

    #contact {
        display: flex;
        margin-left: auto;
        margin-right: 10px;
        padding-bottom: 10px;
    }

    #socialMedia {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 15px;
    }

    .dem-container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }

    .year-data {
        width: 90%;
        grid-column-gap: 5px;
    }

    .event-container {
        width: 80%;
    }

    .swapped .img-container {
        order: 2;
    }

    .visit-container {
        width: 100%;
        grid-row-gap: 0;
    }

    .visit {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
    }

    .visit h4 {
        margin-top: 0;
    }

    .swapped {
        background-color: #606C38;
        grid-template-columns: 1fr 1fr;
    }

    .dem-disclaimer {
        width: 50%;
    }

    .img-container {
        max-width: 300px;
        margin: auto;
    }

}

@media only screen and (min-width: 64em) {

    .dem-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 5px;
    }

    .year-data {
        width: 100%;
    }

    .year {
        width: 90%;
    }

    .event-container {
        width: 70%;
    }

    .visit-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .visit {
        grid-template-columns: 1fr;
    }

    .dem-disclaimer {
        width: 25%;
    }

}