body{
    font-family: Arial;
}

header{
    background-color: darkcyan;
    display: flex;
    text-align: center;
    justify-content: center;
}

header h1{
    font-family: 'Cinzel';
    font-size: 1.5em;
    color: antiquewhite;
    margin-bottom: 0px;
}

header p{
    font-size: 1em;
    margin-top: 0px;
    color: black;
}

#logo{
    width: 100px;
    margin-right: 2%;
}

nav{
    background-color: rgba(117, 202, 195, 0.911);
}

.navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
    text-decoration: none;
    color: black;
}

.navigation a:hover{
    background-color: rgb(14, 155, 155);
    color: antiquewhite;
}

.active{
    background-color: rgb(14, 155, 155);
    color: antiquewhite;
}

.responsive li {
	display: block;
}

main, footer{
    width: 97%;
    margin: 0 auto;
}

footer{
    background-color: darkcyan;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer p{
    margin: 0;
}

.contact-container{
    margin-top: 10%;
    background-color: rgba(117, 202, 195, 0.911);
    padding: 0.5%;
    text-align: center;
}

#contact-info img{
    width: 60px;
    margin: 0 5px 0 5px;
}

#preston-map-container{
    display: none;
    margin-bottom: 1px;
}

.townCards{
    display: grid;
    grid-gap: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
}

section{
    background-color: lightgray;
    padding: 1%;
    text-align: center;
}

h2{
    font-family: 'Cinzel';
    color: darkcyan;
    margin-bottom: 2px;
    font-size: 2rem;
}

h5{
    margin-top: 5px;
}

.townCards img{
    width: 97%;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

@media only screen and (min-width: 37.5em) {
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
    }

    header h1{
        font-size: 2em;
    }

    header p{
        font-size: 1.5em;
    }

    #logo{
        width: 100px;
        margin-right: 5%;
    }

    #header-text{
        align-content: center;
    }

    .contact-container{
        margin-top: 1%;
        padding: 1.5%;
    }

    #preston-map-container{
        display: block;
        float: left;
        width: 50%;
    }

    #preston-map{
        width: 100%;
    }

    #contact-info{
        overflow: hidden;
    }

    section{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 2fr 2fr;
    }

    .townCards img{
        margin: auto;
    }

    .left {
        grid-column-start: 1;
        grid-row-start: 1;
    }
}

@media only screen and (min-width: 64em){
    #logo{
        width: 200px;
        margin-right: 7%;
    }

    header h1{
        font-size: 3em;
    }

    header p{
        font-size: 1.75em;
    }

    main, footer{
        width: 90%;
        max-width: 960px;
    }

    h5{
        font-size: 0.81em;
    }

    .contact-container{
        padding: 3%;
    }

    section{
        display: block;
    }

    .townCards{
        grid-template-columns: 3fr 3fr 3fr;
    }
}