body{
    font-family: Arial;
}

header{
    background-color: darkcyan;
    display: flex;
    text-align: center;
    justify-content: center;
}

header h1{
    font-family: 'Cinzel';
    font-size: 1.5em;
    color: antiquewhite;
    margin-bottom: 0px;
}

header p{
    font-size: 1em;
    margin-top: 0px;
    color: black;
}

#logo{
    width: 100px;
    margin-right: 2%;
}

main, footer{
    width: 97%;
    margin: 0 auto;
}

main {
    background-color: lightgray;
}

footer{
    background-color: darkcyan;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer p{
    margin: 0;
}

.contact-container{
    margin-top: 10%;
    background-color: rgba(117, 202, 195, 0.911);
    padding: 0.5%;
    text-align: center;
}

#contact-info img{
    width: 60px;
    margin: 0 5px 0 5px;
}

#preston-map-container{
    display: none;
    margin-bottom: 1px;
}

h2, h3{
    font-family: 'Cinzel';
    color: darkcyan;
    margin-top: 0px;
}

h2{
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

#wireframe-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1%;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

#wireframe-container div img{
    width: 97%;
}

#large-wf{
    padding-bottom: 20px;
}

button {
    background-color: darkcyan;
    color: antiquewhite;
    width: 15rem;
    height: 3.5rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

button:hover {
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}

#home-go{
    text-decoration: none;
}

@media only screen and (min-width: 37.5em) {

    header h1{
        font-size: 2em;
    }

    header p{
        font-size: 1.5em;
    }

    #logo{
        width: 100px;
        margin-right: 5%;
    }

    #header-text{
        align-content: center;
    }

    .contact-container{
        margin-top: 1%;
        padding: 1.5%;
    }

    #preston-map-container{
        display: block;
        float: left;
        width: 50%;
    }

    #preston-map{
        width: 100%;
    }

    #contact-info{
        overflow: hidden;
    }

    #wireframe-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 64em) {

    #logo{
        width: 200px;
        margin-right: 7%;
    }

    header h1{
        font-size: 3em;
    }

    header p{
        font-size: 1.75em;
    }

    main, footer{
        width: 90%;
        max-width: 960px;
    }

    .contact-container{
        padding: 3%;
    }

    #wireframe-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}