body{
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color: #628ca6;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}

main{
    width: 75%;
    margin: auto;
}

table{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
}

caption, th, td{
    padding: 10px;
    text-align: center;
    border: 1px solid lightgray;
    margin: 0;
}

caption h1{
    margin: 0;
}

caption, tfoot{
    background-color: #7fb9c2;
}

thead{
    font-weight: bold;
}

.emphasis-color{
    background-color: #628ca6;
    color: white;
}

#emphasis-text{
    font-style: italic;
}

tbody{
    background-color: #e7f0ed;
}

tbody tr:nth-child(even){
    background-color: #e7ffed;
}