body{
    font-family: Arial;
}

header{
    background-color: darkcyan;
    display: flex;
    text-align: center;
    justify-content: center;
}

header h1{
    font-family: 'Cinzel';
    font-size: 1.5em;
    color: #faebd7;
    margin-bottom: 0px;
}

header p{
    font-size: 1em;
    margin-top: 0px;
    color: black;
}

#logo{
    width: 100px;
    margin-right: 2%;
}

nav{
    background-color: rgba(117, 202, 195, 0.911);
}

.navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
    text-decoration: none;
    color: black;
}

.navigation a:hover{
    background-color: rgb(14, 155, 155);
    color: antiquewhite;
}

.responsive li {
	display: block;
}

main, footer{
    width: 90%;
    margin: 0 auto;
}

footer{
    background-color: darkcyan;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer p{
    margin: 0;
}

main h1{
    text-align: center;
}

.hero-summary img{
    width: 100%;
}

.hero-summary{
    position: relative;
}

#weather-summary{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
}

#weather-summary h4{
    text-align: center;
}

.left-column{
    text-align: left;
    padding-right: 5%;
}

.right-column{
    text-align: right;
}

#forecast-table{
    width: 90%;
    margin: auto;
    background-color: white;
    border: black solid thin;
}

#forecast-table td{
    color: darkcyan;
    font-weight: bold;
}

#forecast-table img{
    width: 70px;
}

#forecast-table th{
    padding-top: 1%;
    color: rgb(2, 68, 68);
}

.forecast{
    display: none;
    background-color: darkcyan;
    text-align: center;
    padding: 2%;
    margin: 10px 0 10px 0;
}

.forecast h2{
    color: black;
    margin-top: 0;
}

article{
    padding: 0.5%;
}

#article-image{
    width: 95%;
    margin: auto;
}

article h1{
    font-family: 'Cinzel';
    text-align: left;
}

#article-container{
    display: flex;
    flex-direction: column-reverse;
}

.contact-container{
    background-color: rgba(117, 202, 195, 0.911);
    padding: 0.5%;
    text-align: center;
}

#contact-info img{
    width: 60px;
    margin: 0 5px 0 5px;
}

#preston-map-container{
    display: none;
    margin-bottom: 1px;
}

#notice {
    background-color: #DB1F48;
    color: #faebd7;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 1em;
}

@media only screen and (min-width: 37.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
    }

    header h1{
        font-size: 2em;
    }

    header p{
        font-size: 1.5em;
    }

    #logo{
        width: 100px;
        margin-right: 5%;
    }

    #header-text{
        align-content: center;
    }

    main, footer{
        width: 82%;
    }
    

    #weather-summary td{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .forecast{
        display: block;
    }

    #article-container{
        display: block;
    }

    #article-image{
        float: right;
        margin-left: 2%;
        margin-bottom: 2%;
        width: 50%;
    }

    .contact-container{
        padding: 1.5%;
    }

    #preston-map-container{
        display: block;
        float: left;
        width: 50%;
    }

    #preston-map{
        width: 100%;
    }

    #contact-info{
        overflow: hidden;
    }

    #notice {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 60em){
    #logo{
        width: 200px;
        margin-right: 7%;
    }

    header h1{
        font-size: 3em;
    }

    header p{
        font-size: 1.75em;
    }

    main, footer{
        width: 800px;
    }

    #article-image{
        width: 40%;
    }

    .contact-container{
        padding: 3%;
    }
}